@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@660&display=swap');

.pop-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


body {
    background: linear-gradient(180deg, #D2F6DA 20%, #C7F4DD 63.29%, #FFFFFF 100%);
}

.logoheather {
    width: 60%;
    margin: 20px 10%;
}


#sinlista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.top-bar {
    justify-items:center;
    gap: 20%;
    margin-top: 100px;
    color:#023529;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10%;
}

/* RECTANGULO CON CURVAS */

.rectangulo {
    width: 450px;
    height: 550px;
    background-color: #008F75;
    border-radius: 300px 300px 10px 10px;
    color: #008F75;
    display: grid;
    place-items: center;
    margin-bottom: 10%;
}

.rectangulo .rounded-circle {
    width: 90%; /* Ajusta este valor al tamaño deseado */
    height: auto; /* Mantiene la proporción de la imagen */
}

.descripcion {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}


/* IM SIMA */

body h1 {
    font-size: 110px;
    font-family: "Fredoka", sans-serif;
    color: #015944;
}

/* FRASE */

.h3-frase {
    font-size: 48px;
    font-family: "Fredoka", sans-serif;
    color: #008F75;
}


/* SOBRE MI */

.h3-title {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #023529;
}

.experiencia {
    background-color: #ffffffd2;
}

p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #023529;
}




.h2-title {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #023529;
}

.descubre {
margin: 50px 0px 50px 0px;
}



/* CARRUSEL CON CARDS */

.scroll-1::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #008F75;
}

.container-cards {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
    min-width: 90%;
    justify-content: left;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    border-color: #FFFFFF !important;
    border-radius: 30px !important; 
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    flex: 0 0 450px;
}

.title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
}

.card__title {
    font-size: 34px;
    color: #008F75;
    text-transform: capitalize;
}

.card_subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #008F75;
    font-size: 20px;
}

.card__describe {
    color: #008F75;
    font-size: 20px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

@media (max-width: 600px) {

    body h1 {
        font-size: 60px;
    }

    .h3-frase {
        font-size: 34px;
    }

    .h2-title {
        font-size: 34px;
    }

    .descubre {
        margin: 20px 0px 5px 0px;
    }       

    .h3-title {
        font-size: 34px;
    }

    p {
        font-size: 14px;
    }

    .logoheather {
        width: 150%;
    }

    .card {
        flex: 0 0 95%;
    }

    .card__title {
        font-size: 24px; /* Tamaño de fuente para pantallas pequeñas */
    }

    .card__describe {
        font-size: 16px; /* Tamaño de fuente para pantallas pequeñas */
    }

    .card__subtitle {
        font-size: 16px; /* Tamaño de fuente para pantallas pequeñas */
    }

}