@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@660&display=swap');

.pop-light {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pop-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


body {
    background: linear-gradient(180deg, #D2F6DA 20%, #C7F4DD 63.29%, #FFFFFF 100%);
}

.disabled {
    pointer-events: none !important;
    color: #008F75 !important;
    background-color:#ffffff !important;
    border-radius: 30px 30px 30px 30px !important;
    width: 100% !important;
}

#header {
    background: transparent;
    backdrop-filter: blur(10px);
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

.logoheader{
    width: 126px;
    margin: 20px;
}


#sinlista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.top-bar {
    justify-items:center;
    margin-top: 20px;
    color:#023529;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    gap: 30px;
}

/* RECTANGULO CON CURVAS */

.rectangulo {
    width: 450px;
    height: 550px;
    background-color: #008F75;
    border-radius: 300px 300px 10px 10px;
    color: #008F75;
    display: grid;
    place-items: center;
    margin-bottom: 10%;
}

.rectangulo .rounded-circle {
    width: 90%; /* Ajusta este valor al tamaño deseado */
    height: auto; /* Mantiene la proporción de la imagen */
}

.descripcion {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}


/* IM SIMA */

body h1 {
    font-size: 110px;
    font-family: "Fredoka", sans-serif;
    color: #015944;
}

/* FRASE */

.h3-frase {
    font-size: 48px;
    font-family: "Fredoka", sans-serif;
    color: #008F75;
}


/* SOBRE MI */

.h3-title {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #023529;
}

.experiencia {
    background-color: #ffffffd2;
}

p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #023529;
}

.h2-title {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #023529;
}

.descubre {
margin: 50px 0px 50px 0px;
}

/* CARRUSEL CON CARDS */

.scroll-1::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #008F75;
}


.container-cards {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
    min-width: 100%;
    justify-content: left;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    border-color: #FFFFFF !important;
    border-radius: 30px !important; 
    padding: 2rem;
    margin: 1rem;
    flex: 1 1 23%;
}


.title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
}

.card__title {
    font-size: 34px;
    color: #008F75;
}

.card__describe {
    color: #008F75;
    font-size: 20px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}


/* FOOTER */

.rec-background{
    width: 100%;
    height: 100%;
    background-color:#015944;
    border-radius: 50px 50px 0px 0px;
    margin-top: 5%; 
    padding: 5% !important;
}

.rec-cont-footer{
    width: 100%;
    height: 150px;
    background-color:#ffffff;
    border-radius: 30px 30px 30px 30px;
    padding: 5%;
}

.redes {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
}

.footer-redes{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}

.img-footer{
    width: 24px;
    height: auto;
    margin-right: 20px;
}

.img-figma{
    width: 20px;
    height: auto;
    margin-right: 20px;
}

.work_to{
    font-size: 20px;
}

/* BOTÓN */
.boton {
    padding: 1.3em 3em;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #023529;
    background-color: #C7F4DD;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px #a9c6b0;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;

}

.boton:hover {
    background-color:#008F75;
    box-shadow: 0px 15px 20px #015944;
    color: #fff;
    transform: translateY(-7px);
}

.boton:active {
    transform: translateY(-1px);
}

.sima-2024 {
    font-size: 24px; 
    color: white; 
    margin-top: 2% !important;
    margin-left: 1%;
}

@media (max-width: 1000px) {
    .col-1 {
        display: none;
    }
}

@media (max-width: 1400px) {
    .card {
        flex: 0 0 31%;
    }
}

@media (max-width: 1200px) {
    .card {
        flex: 0 0 47%;
    }

    .disabled {
        background-color:#ffffff !important;
        border-radius: 10px 10px 10px 10px !important;
    }
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 95%;
    }
}
/* FIN CARRUSEL CON CARDS */

@media (max-width: 768px) {
    .rectangulo {
        width: 350px;
        height: 420px;
        background-color: #008F75;
    }

    body h1 {
        font-size: 60px;
    }

    .h3-frase {
        font-size: 34px;
    }

    .h2-title {
        font-size: 34px;
    }

    .descubre {
        margin: 20px 0px 5px 0px;
    }       

    .h3-title {
        font-size: 34px;
    }

    p {
        font-size: 14px;
    }

    .logoheather {
        width: 100px;
        margin: 20px;
    }

    .card__title {
        font-size: 24px; /* Tamaño de fuente para pantallas pequeñas */
    }

    .card__describe {
        font-size: 16px; /* Tamaño de fuente para pantallas pequeñas */
    }

    .card__subtitle {
        font-size: 16px; /* Tamaño de fuente para pantallas pequeñas */
    }

    .work_to{
        font-size: 16px;
    }

    .redes{
        margin-top: 5%;
        font-size: 16px;
        margin-bottom: 5%;
    }

    .sima-2024 {
        font-size: 14px; 
    }

    .footer-redes{
        font-size: 16px;
    }

    .rec-background{
        padding: 10% !important;
    }

}






.contacto-text {
    margin: 10% 0% 10% 0% !important;
}