@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@660&display=swap');

.pop-light {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pop-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}




body {
    background: linear-gradient(180deg, #D2F6DA 20%, #C7F4DD 63.29%, #FFFFFF 100%);
}

.disabled {
    pointer-events: none !important;
    color: #008F75 !important;
    background-color:#ffffff !important;
    border-radius: 30px 30px 30px 30px !important;
    width: 100% !important;
}

#header {
    background: transparent;
    backdrop-filter: blur(10px);
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    margin-bottom: 10px;
    z-index: 1000;
}

.logoheader{
    width: 126px;
    margin: 20px;
}


#sinlista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.top-bar {
    justify-items:center;
    margin-top: 20px;
    color:#023529;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    gap: 30px;
}

/* RECTANGULO CON CURVAS */

.rectangulo {
    width: 450px;
    height: 550px;
    background-color: #008F75;
    border-radius: 300px 300px 10px 10px;
    color: #008F75;
    display: grid;
    place-items: center;
    margin-bottom: 10%;
}

.rectangulo .rounded-circle {
    width: 90%; /* Ajusta este valor al tamaño deseado */
    height: auto; /* Mantiene la proporción de la imagen */
}

.descripcion {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}


/* IM SIMA */

body h1 {
    font-size: 110px;
    font-family: "Fredoka", sans-serif;
    color: #015944;
}

/* FRASE */

.h3-frase {
    font-size: 48px;
    font-family: "Fredoka", sans-serif;
    color: #008F75;
}


/* SOBRE MI */

.h3-title {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #023529;
}

.experiencia {
    background-color: #ffffffd2;
}

p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #023529;
}

.h2-title {
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #023529;
}

.descubre {
margin: 50px 0px 50px 0px;
}

/* CARRUSEL CON CARDS */

.scroll-1::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll-1::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #008F75;
}

.container-cards {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
    min-width: 100%;
    justify-content: left;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    border-color: #FFFFFF !important;
    border-radius: 30px !important; 
    padding: 2rem;
    margin: 1rem;
    flex: 1 1 23%;
}


.title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
}

.card__title {
    font-size: 34px;
    color: #008F75;
}

.card__describe {
    color: #008F75;
    font-size: 20px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}



 /* INDEX */


.m-top{
    margin-bottom: 30px;
}

.cont-intro{
    margin: 10% 0% 10% 0%;
}


.h3-title-sec{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 34px;
    color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    z-index: 10;
}


.img-carc {
    width: 100%;
    height: 100%;
    display: block;
}

.container-carrusel {
    width: 90%;
    height: 600px;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
}

.cardsel {
    min-width: 70px;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    --transition-timing: 0.35s;
    padding: 110px;
}

.cardsel:hover {
    flex-grow: 7;
}

.cardsel > .background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.4);
    z-index: -1;
    transition: var(--transition-timing) ease;
}

.cardsel:hover > .background {
    filter: brightness(1);
}

.cardsel > .card-content {
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    transition: var(--transition-timing);
    z-index: 1;
}

.cardsel:hover > .card-content {
    inset: 20px;
    top: auto;
}

.cardsel-content > * {
    transition: var(--transition-timing);
}

.cardsel > .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.rotatetext {
    position: absolute; /* Posiciona el contenedor en relación a la card */
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    left: 90px; /* Ajusta la distancia desde la parte izquierda */
    width: calc(100% - 40px); /* Ajusta el ancho para mantener márgenes */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ajusta según la posición horizontal deseada */
    transition: transform 0.5s;
}

.rotatetext h3 {
    margin: 20px; /* Asegura que no haya margen alrededor del texto */
    transform: rotate(-90deg);
    transform-origin: bottom left;
    transition: transform 0.5s;
}

.cardsel:hover .rotatetext h3 {
    transform: rotate(0deg);
    color: #ffffff;
}
/* TERMINA INDEX */

/* DENTRO INDEX: graphic arts */

.sidebar {
    position: fixed;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    width: 150px;
    border-radius: 0 10px 10px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: -1;
}
.sidebar a {
    display: block;
    color: #008F75;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    transition: transform 0.5s ease;
    margin-left: 30px;
    background-color: #ffffff;
    border-radius: 10px 30px 30px 10px;
}
.sidebar a:hover {
    color: #023529;
    transform: translateX(30px);
}
.content {
    margin-left: 220px;
    padding: 20px;
}
section {
    margin-bottom: 50px;
    padding-top: 60px; /* Adding padding to avoid overlap with navbar */
}

.max-h{
    height: 60% !important;
    width: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* TERMINA GRAPHIC ART*/










/* FOOTER */

.rec-background{
    width: 100%;
    height: 100%;
    background-color:#015944;
    border-radius: 50px 50px 0px 0px;
    margin-top: 5%; 
    padding: 5% !important;
}

.rec-cont-footer{
    width: 100%;
    height: 150px;
    background-color:#ffffff;
    border-radius: 30px 30px 30px 30px;
    padding: 5%;
}

.redes {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
}

.footer-redes{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}

.img-footer{
    width: 24px;
    height: auto;
    margin-right: 20px;
}

.img-figma{
    width: 20px;
    height: auto;
    margin-right: 20px;
}

.work_to{
    font-size: 20px;
}

/* BOTÓN */
.boton {
    padding: 1.3em 3em;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #023529;
    background-color: #C7F4DD;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px #a9c6b0;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.boton:hover {
    background-color:#008F75;
    box-shadow: 0px 15px 20px #015944;
    color: #fff;
    transform: translateY(-7px);
}

.boton:active {
    transform: translateY(-1px);
}

.sima-2024 {
    font-size: 24px; 
    color: white; 
    margin-top: 2% !important;
    margin-left: 1%;
}

@media (max-width: 5000px) {

    .tablet{
        display: none;
    }

    .movil{
        display: none;
    }

    .movil-art{
        display: none;
    }
}

@media (max-width: 1000px) {
    .col-1 {
        display: none;
    }

    .info-lista{
        font-size: 14px !important;
    }


}

@media (max-width: 1400px) {
    .card {
        flex: 0 0 31%;
    }
}



@media (max-width: 1200px) {
    .card {
        flex: 0 0 47%;
    }

    .disabled {
        background-color:#ffffff !important;
        border-radius: 10px 10px 10px 10px !important;
    }

    .desktop{
        display: none;
    }

    .tablet{
        display: block;
    }
}

/* FIN CARRUSEL CON CARDS */

@media (max-width: 768px) {

    .descktop-art{
        display: none;
    }

    .movil-art{
        display: block;
    }

    .movil{
        display: none;
    }

    .card {
        flex: 0 0 95%;
    }

    .rectangulo {
        width: 350px;
        height: 420px;
        background-color: #008F75;
    }

    body h1 {
        font-size: 60px;
    }

    .h3-frase {
        font-size: 34px;
    }

    .h2-title {
        font-size: 34px;
    }

    .descubre {
        margin: 20px 0px 5px 0px;
    }       

    .h3-title {
        font-size: 34px;
    }

    p {
        font-size: 14px;
    }

    .logoheather {
        width: 100px;
        margin: 20px;
    }

    .card__title {
        font-size: 24px; /* Tamaño de fuente para pantallas pequeñas */
    }

    .card__describe {
        font-size: 16px; /* Tamaño de fuente para pantallas pequeñas */
    }

    .card__subtitle {
        font-size: 16px; /* Tamaño de fuente para pantallas pequeñas */
    }

    .work_to{
        font-size: 16px;
    }

    .redes{
        margin-top: 5%;
        font-size: 16px;
        margin-bottom: 5%;
    }

    .sima-2024 {
        font-size: 14px; 
    }

    .footer-redes{
        font-size: 16px;
    }

    .rec-background{
        padding: 10% !important;
    }

    .container .text{
        font-size: 30px;
    }
    .container form{
        padding: 0px 0 0 0;
    }
    .container form .form-row{
        display: block;
    }
    .submit-btn .input-data{
        width: 40%!important;
    }

    .rectangulo-pequeno {
        display: none;
    }

    .input-data input,
.text text{
    width: 100% !important;
}

@media (max-width: 577px){

    .tablet {
        display: none;
    }

    .movil{
        display: block;
    }
}




    .contacto-box{
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 30px 30px 0px 0px !important;
    }

    .input-data .underline:before{
        width: 100% !important;
    }

    .rectangulo-info{
        display: block !important;
    }


}







 /* PAGINA CONTACTO */
.contacto-text {
    margin: 10% 0% 10% 0% !important;
}

.contact-title{
    margin-left: 20px;
}

.rectangulo-info{
    width: 100%;
    height: 20%;
    background-color: #008F75;
    border-radius: 0px 0px 30px 30px;
    position: relative;
    display: none;
}

.info-lista-movil{
    font-size: 14px;
    color: #FFFFFF;
}

.rectangulo-pequeno {
    width: 40%;
    height: 48%;
    background-color: #008F75;
    border-radius: 30px 30px 0px 30px;
    position: absolute;
    top: 0; 
    right: 0;
    padding: 2%;
}

.info {
    font-size: 34px;
    color: #FFFFFF;
    margin-left: 10px;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.info-lista{
    font-size: 18px;
    color: #FFFFFF;
}

.img-info{
    width: 40px;
    height: auto;
    margin: 10px 10px 20px;
}




.contacto-box{
    max-width: 800px; /*ANCHOOOOOO*/
    background: #fff;
    border-radius: 30px;
    height: 450px;
    width: 90%;
    padding: 25px 40px 10px 40px !important;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    position: relative;
}


.container form{
    padding: 0px 0 0 0;
}
.container form .form-row{
    display: flex;
    margin: 32px 0;
}
form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
form .form-row .textarea{
    height: 70px;
}
.input-data input,
.textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 18px;
    border-bottom: 4px solid  #023529;
    outline: none;
    box-sizing: border-box;
}

.input-data input,
.text text{
    display: block;
    width: 55%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 17px;
    border-bottom: 4px solid  #023529;
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #008F75;
}
.textarea textarea{
    resize: none;
    padding-top: 10px;
    color: #023529;
}
.input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    color: #023529;
}
.textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    color: #023529;
}
.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
}
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 4px;
    width: 55%;
    background: #008F75;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data .downline:before{
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background: #008F75;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
    transform: scale(1);
}
.submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
}
.submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
    left: 0;
}
.submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}


.boton-enviar {
    padding: 10px;
    font-size: 16;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #ffffff;
    background-color: #023529;
    border: none;
    border-radius: 45px;
    width: 100%;
    box-shadow: 0px 8px 15px #a9c6b0;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.boton-enviar:hover {
    background-color:#008F75;
    box-shadow: 0px 15px 20px #015944;
    color: #fff;
    transform: translateY(-7px);
}

.boton-enviar:active {
    transform: translateY(-1px);
}


@media (max-width: 768px){
    .contacto-box{
        padding: 25px 10px 10px 10px !important;
    }

    .img-info{
        width: 24px;
        height: auto;
        margin: 10px 20px 20px;
    }
}


 /* termina CONTACTO */